---
import type { LandType, LandUse, Topography } from '@/types/construction.enum';


interface Props {
  landArea?: number;
  landUse?: LandUse;
  landOccupationCoefficient?: number;
  landType?: LandType;
  topography?: Topography;
}

const { landArea, landUse, landOccupationCoefficient, landType, topography } = Astro.props;
---

<div class="grid grid-cols-2 md:grid-cols-5 gap-6 my-8">
  {landArea && (
    <div class="flex items-center gap-3">
      <i class="ri-grid-fill text-3xl mr-1 text-brand-300 drop-shadow-sm"></i>
      <div>
        <p class="text-sm text-gray-600">Construcción</p>
        <p class="font-semibold">{landArea} m²</p>
      </div>
    </div>
  )}

  {landUse && (
    <div class="flex items-center gap-3">
      <i class="ri-hotel-bed-fill text-3xl mr-1 text-brand-300 drop-shadow-sm"></i>
      <div>
        <p class="text-sm text-gray-600">Habitaciones</p>
        <p class="font-semibold">{landUse}</p>
      </div>
    </div>
  )}
  
  {landOccupationCoefficient && (
    <div class="flex items-center gap-3">
      <i class="ri-drop-fill text-3xl mr-1 text-brand-300 drop-shadow-sm"></i>
      <div>
        <p class="text-sm text-gray-600">Baños</p>
        <p class="font-semibold">{landOccupationCoefficient}</p>
      </div>
    </div>
  )}
  

  {landType && (
    <div class="flex items-center gap-3">
      <i class="ri-map-2-line text-3xl mr-1 text-brand-300 drop-shadow-sm"></i>
      <div>
        <p class="text-sm text-gray-600">Terreno</p>
        <p class="font-semibold">{landType} m²</p>
      </div>
    </div>
  )}

  {topography && (
    <div class="flex items-center gap-3">
      <i class="ri-home-2-fill text-3xl mr-1 text-brand-300 drop-shadow-sm"></i>
      <div>
        <p class="text-sm text-gray-600">Pisos</p>
        <p class="font-semibold">{topography}</p>
      </div>
    </div>
  )}
</div>
