---
// Layouts
import MainLayout from '@layouts/MainLayout.astro';

// Components
import ContactFormSection from '@/components/sections/properties/ContactFormSection.astro';
import ConstructionFeaturesSection from '@components/sections/properties/ConstructionFeaturesSection.astro';
import LocationMapSection from '@components/sections/properties/LocationMapSection.astro';
import PropertyEquipmentSection from '@/components/sections/properties/PropertyEquipmentSection.astro';
import PropertyGallerySection from '@components/sections/properties/PropertyGallerySection.astro';
import PropertyTitleSection from '@/components/sections/properties/PropertyTitleSection.astro';
import AgentCard from '@/components/sections/properties/AgentCard.astro';

// Types
import type { ConstructionResponse } from '@/types/api.interface';
import { DealType } from '@/types/construction.enum';

// Utils
import { capitalizeFirstLetter } from '@utils/string';

import claudia from '@images/claudia-1.jpg';

const { id } = Astro.params;

const response = await fetch(`http://localhost:3000/api/v1/properties/${id}`);
const constructionResponse: ConstructionResponse = await response.json();

if (!constructionResponse) {
  return new Response(null, {
    status: 404,
    statusText: 'Not Found',
  });
}

const construction = constructionResponse.data;
---

<MainLayout title={`Propiedad en ${construction.address.neighborhood}`}>
  <PropertyGallerySection images={construction.images} />

  <main class="max-w-7xl mx-auto px-4 py-8">
    <div class="mt-8">
      <div class="flex justify-between items-start">
        <PropertyTitleSection
          constructionType={construction.constructionType}
          neighborhood={construction.address.neighborhood}
          price={construction.price}
        />
        <span
          class={`px-4 py-2 rounded-full font-semibold ${
            construction.dealType === DealType.VENTA
              ? "bg-blue-100 text-blue-800"
              : "bg-green-100 text-green-800"
          }`}
        >
          {capitalizeFirstLetter(construction.dealType)}
        </span>
      </div>
      <p class="mt-4 text-gray-600">{construction.description}</p>
    </div>

    <!-- Features -->
    <ConstructionFeaturesSection
      rooms={construction.rooms}
      bathrooms={construction.bathrooms}
      builtArea={construction.builtArea}
      landArea={construction.landArea}
      floors={construction.floors}
    />

    <!-- Location -->
    <LocationMapSection
      lat={construction.location?.latitude}
      lng={construction.location?.longitude}
    />

    <!-- Equipment -->
    <PropertyEquipmentSection equipment={construction.equipment} />

    <div class="mt-12 relative bg-cover bg-center py-16">
      <div class="relative z-10 container mx-auto px-4">
        <div class="grid md:grid-cols-2 gap-8">
          <!-- Contact Form -->
          <ContactFormSection />

          <!-- Agent Information -->
          <AgentCard
            name="Claudia de la Luna"
            role="Agente Inmobiliario"
            email="claudia@cimabienesraices.com"
            phone="+52 228 122 9452"
            image={claudia}
          />
        </div>
      </div>
    </div>
  </main>
</MainLayout>
