---
export const prerender = true;

// Layouts
import MainLayout from '@layouts/MainLayout.astro';

// Components
import ContactFormSection from '@/components/sections/properties/ContactFormSection.astro';
import LandFeaturesSection from '@components/sections/properties/LandFeaturesSection.astro';
import LocationMapSection from '@components/sections/properties/LocationMapSection.astro';
import PropertyGallerySection from '@components/sections/properties/PropertyGallerySection.astro';
import PropertyTitleSection from '@/components/sections/properties/PropertyTitleSection.astro';
import AgentCard from '@/components/sections/properties/AgentCard.astro';

// Types
import { DealType } from '@/types/property.enum';

// Utils
import { capitalizeFirstLetter } from '@utils/string';

import claudia from '@images/claudia-1.jpg';
import type { Land } from '@/types/property.interface';

// Generar rutas estáticas para cada terreno
export async function getStaticPaths() {
  console.log('🚀 Iniciando generación de rutas estáticas para terrenos...');
  try {
    // Obtener todos los terrenos
    const response = await fetch('http://localhost:3000/api/v1/properties/all?propertyType=Land');
    
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    
    const data = await response.json();
    // console.log('📦 Datos recibidos:', data);
    
    if (!data.properties || !Array.isArray(data.properties)) {
      throw new Error('Formato de datos inválido');
    }
    
    // Generar una ruta para cada terreno
    const paths = data.properties.map((property: Land) => ({
      params: { id: property._id },
      props: { property: property }
    }));
    
    // console.log('🛣️ Rutas generadas:', paths);
    return paths;
  } catch (error) {
    console.error('❌ Error al obtener los terrenos:', error);
    return [];
  }
}

// Props tipadas para la página
interface Props {
  property: Land;
}

// Obtener los props de la ruta
const { property } = Astro.props;
// console.log('🏠 Renderizando terreno:', property);

// Manejar el caso de terreno no encontrado
if (!property) {
  return new Response(null, {
    status: 404,
    statusText: 'Terreno no encontrado',
  });
}
---

<MainLayout title={`Terreno en ${property.address.neighborhood}`}>
  <PropertyGallerySection coverImage={property.coverImage} images={property.images} />

  <main class="max-w-7xl mx-auto px-4 py-8">
    <div class="mt-8">
      <div class="flex justify-between items-start">
        <PropertyTitleSection
          constructionType={'terreno'}
          neighborhood={property.address.neighborhood}
          price={property.price}
        />
        <span
          class={`px-4 py-2 rounded-full font-semibold ${
            property.dealType === DealType.VENTA
              ? "bg-blue-100 text-blue-800"
              : "bg-green-100 text-green-800"
          }`}
        >
          {capitalizeFirstLetter(property.dealType)}
        </span>
      </div>
      <p class="mt-4 text-gray-600">{property.description}</p>
    </div>

    <!-- Features -->
    <LandFeaturesSection landArea={property.landArea} landUse={property.landUse} landOccupationCoefficient={property.landOccupationCoefficient} landType={property.landType} topography={property.topography} />

    <!-- Location -->
    <LocationMapSection
      lat={property.location?.latitude}
      lng={property.location?.longitude}
    />

    <div class="mt-12 relative bg-cover bg-center py-16">
      <div class="relative z-10 container mx-auto px-4">
        <div class="grid md:grid-cols-2 gap-8">
          <!-- Contact Form -->
          <ContactFormSection />

          <!-- Agent Information -->
          <AgentCard
            name="Claudia de la Luna"
            role="Agente Inmobiliario"
            email="claudia@cimabienesraices.com"
            phone="+52 228 122 9452"
            image={claudia}
          />
        </div>
      </div>
    </div>
  </main>
</MainLayout>
